flows.json
[{"id":"39dae3d5.758d1c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5466f33e.5961ac","type":"ui_form","z":"39dae3d5.758d1c","name":"","label":"","group":"4d2299f0.de27f8","order":1,"width":0,"height":0,"options":[{"label":"","value":"message","type":"text","required":true,"rows":null}],"formValue":{"message":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":300,"wires":[["317ff28d.ff371e","c997d6fc.6e5cb8"]]},{"id":"317ff28d.ff371e","type":"function","z":"39dae3d5.758d1c","name":"Input Parsing","func":"msg.payload = msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["f25a0391.123e8"]]},{"id":"3262feaf.c53832","type":"function","z":"39dae3d5.758d1c","name":"Output Parsing","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["8baac18.4688b4"]]},{"id":"8baac18.4688b4","type":"ui_text","z":"39dae3d5.758d1c","group":"4d2299f0.de27f8","order":2,"width":9,"height":5,"name":"","label":"BOT:        ","format":"{{msg.payload}}","layout":"col-center","x":760,"y":320,"wires":[]},{"id":"f25a0391.123e8","type":"watson-conversation-v1","z":"39dae3d5.758d1c","name":"Assistant","workspaceid":"fc3be3fe-70d6-4978-ad19-d6ecf625d469","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c0a2f97f-14d5-4f68-981f-e2a5b478ceb7","timeout":"","optout-learning":false,"x":460,"y":240,"wires":[["3262feaf.c53832","8dd84951.709a08"]]},{"id":"8dd84951.709a08","type":"debug","z":"39dae3d5.758d1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":120,"wires":[]},{"id":"c997d6fc.6e5cb8","type":"debug","z":"39dae3d5.758d1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":280,"y":160,"wires":[]},{"id":"4d2299f0.de27f8","type":"ui_group","z":"","name":"Watson App","tab":"c7153f31.003fb","order":1,"disp":true,"width":9,"collapse":false},{"id":"c7153f31.003fb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]